*{
  text-align: center;
  font-family: copperplate;
  color: maroon;
  font-size: 20px;
  scroll-behavior: smooth;
  
}

.header{
  font-size: 40px;
}

button{
  font-size: 20px;
  justify-content: center;
  text-align: center;
  font-family: copperplate;
  color: maroon;
  background-color: darkgoldenrod;
  border: 2px solid silver;
}